@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@model Hospital_Management.Models.DoctorModel

<h2>Edit Doctor</h2>

@using (Html.BeginForm())
{
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })

    @Html.HiddenFor(x => x.DoctorId)

    <div class="form-group">
        @Html.TextBoxFor(x => x.DoctorName, new { @class = "form-control", placeholder = "Doctor Name" })
        @Html.ValidationMessageFor(x => x.DoctorName, "", new { @class = "text-danger" })
    </div>

    <div class="form-group">
        @Html.LabelFor(x => x.Specialization)
        @Html.DropDownListFor(
        x => x.Specialization,
        new List<SelectListItem>
        {
        new SelectListItem { Text="Cardiologist", Value="Cardiologist" },
        new SelectListItem { Text="Dermatologist", Value="Dermatologist" },
        new SelectListItem { Text="Neurologist", Value="Neurologist" },
        new SelectListItem { Text="Orthopedic", Value="Orthopedic" },
        new SelectListItem { Text="Other", Value="Other" }
        },
        "-- Select Specialization --",
        new { @class = "form-control" }
        )
    @Html.ValidationMessageFor(x => x.Specialization)
</div>


    <div class="form-group">
        @Html.TextBoxFor(x => x.WorkPlace, new { @class = "form-control", placeholder = "Workplace" })
        @Html.ValidationMessageFor(x => x.WorkPlace, "", new { @class = "text-danger" })
    </div>
<div class="form-group">
    @Html.TextBoxFor(x => x.Experience, new {
        @class = "form-control",
        type = "number",
        id = "Experience",
        min = "0",
        max = "70",
        step = "1",
        placeholder = "Experience in years",
        onkeydown = "return !['e','E','+','-'].includes(event.key)"
        })
    <span id="expError" class="text-danger"></span>
</div>

<input type="submit" value="Save" class="btn btn-success" />
}
<script>
    const expInput = document.getElementById("Experience");
    const expError = document.getElementById("expError");

    expInput.addEventListener("input", function () {
        const value = parseInt(expInput.value);

        if (!isNaN(value) && value > 70) {
            expError.innerText = "Experience more than 70 cannot happen!";
            expInput.value = "";
        } else {
            expError.innerText = "";
        }
    });
</script>







@* Before Validation/ *@


@* 
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860

@{
}

@model DoctorModel

<h2>Edit Doctor</h2>

@using (Html.BeginForm())
{
    @Html.HiddenFor(x => x.DoctorId)

    @Html.TextBoxFor(x => x.DoctorName, new { @class = "form-control" })
    @Html.TextBoxFor(x => x.Specialization, new { @class = "form-control" })
    @Html.TextBoxFor(x => x.WorkPlace, new { @class = "form-control" })
    @Html.TextBoxFor(x => x.Experience, new { @class = "form-control" })

    <br />
    <input type="submit" value="Update" class="btn btn-warning" />
} *@
