@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@model IEnumerable<DoctorModel>

@if (TempData["DeleteError"] != null)
{
    <script>
        alert("@TempData["DeleteError"]");
    </script>
}

<h2>Doctor List</h2>

<p>
    <a asp-action="Create" class="btn btn-primary">Add New Doctor</a>
</p>

<!-- ================= SEARCH ================= -->
<form method="get" class="mb-3">
    <input type="text"
           name="search"
           value="@ViewBag.Search"
           placeholder="Search by name or specialization"
           class="form-control"
           style="width:300px; display:inline;" />
    <button type="submit" class="btn btn-success">Search</button>
    <div class="col-md-1">
        <a asp-action="Index" class="btn btn-secondary w-100">Clear</a>
    </div>

</form>

<!-- ================= TABLE ================= -->
<table class="table table-bordered table-striped">
    <thead>
        <tr>
            <th>Doctor Name</th>
            <th>Specialization</th>
            <th>Work Place</th>
            <th>Experience</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        @if (!Model.Any())
        {
            <tr>
                <td colspan="5" class="text-center text-danger">
                    No doctors found
                </td>
            </tr>
        }
        else
        {
            @foreach (var d in Model)
            {
                <tr>
                    <td>@d.DoctorName</td>
                    <td>@d.Specialization</td>
                    <td>@d.WorkPlace</td>
                    <td>@d.Experience</td>
                    <td>
                        <a asp-action="Edit"
                           asp-route-id="@d.DoctorId"
                           class="btn btn-warning btn-sm">
                            Edit
                        </a>

                        <a asp-action="Delete"
                           asp-route-id="@d.DoctorId"
                           class="btn btn-danger btn-sm"
                           onclick="return confirm('Are you sure?');">
                            Delete
                        </a>
                    </td>
                </tr>
            }
        }
    </tbody>
</table>

<!-- ================= PAGINATION ================= -->
@if (ViewBag.TotalPages > 1)
{
    <nav>
        <ul class="pagination">
            @for (int i = 1; i <= ViewBag.TotalPages; i++)
            {
                <li class="page-item @(i == ViewBag.Page ? "active" : "")">
                    <a class="page-link"
                       href="?page=@i&search=@ViewBag.Search">
                        @i
                    </a>
                </li>
            }
        </ul>
    </nav>
}
